 .checklist-wrapper>li {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 svg {
     cursor: pointer;
     float: right;
     margin-right: 35px;
     object-fit: contain;
 }

 button {
     cursor: pointer;
     border-radius: 5px;
     font-size: 20px;
     margin-top: 20vw;
     background-color: darkslateblue;
     color: wheat;
 }

 .cl {
     margin: 100px auto;
     font-size: 50px;
 }