

.add-item-form {
    display: flex;
    flex-flow: column nowrap;
    max-width: 50%;
    margin: 0 auto;
}

.add-item-form input {
  
    font-size: 20px;
    margin-bottom: 15px;
}

input::placeholder {
    font-size: 20px;
}